/* font-family: 'Cookie', cursive;
font-family: 'Raleway', sans-serif; */

@font-face { 
    font-family: "Proxima-N-W01-Reg"; 
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix") format("eot"), 
    url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/64017d81-9430-4cba-8219-8f5cc28b923e.woff2") format("woff2"), 
    url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/e56ecb6d-da41-4bd9-982d-2d295bec9ab0.woff") format("woff"), 
    url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/2aff4f81-3e97-4a83-9e6c-45e33c024796.ttf") format("truetype"), 
    url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/ab9cd062-380f-4b53-b1a7-c0bec7402235.svg#ab9cd062-380f-4b53-b1a7-c0bec7402235") format("svg"); 
    font-display: block; 
}

@font-face { font-family: "Helvetica-W01-Roman"; 
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/ea95b44a-eab7-4bd1-861c-e73535e7f652.eot?#iefix") format("eot"), 
    url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/4021a3b9-f782-438b-aeb4-c008109a8b64.woff") format("woff"), 
    url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/669f79ed-002c-4ff6-965c-9da453968504.ttf") format("truetype"), 
    url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/d17bc040-9e8b-4397-8356-8153f4a64edf.svg#d17bc040-9e8b-4397-8356-8153f4a64edf") format("svg"); 
    font-display: block; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://static.wixstatic.com/media/3b1f25_9da087f33f6c4bdcaea3c1de543438ae.jpg/v1/fill/w_1613,h_939,al_b,q_85,usm_0.66_1.00_0.01/3b1f25_9da087f33f6c4bdcaea3c1de543438ae.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-width: 750px;
    width: 100%;
}

header {
    position: sticky;
    top: 0;
    background-color: rgb(54,46,38);
    min-width: 750px;
    width: 100%;
}

.spacesHeader nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    width: 60%;
}

.spacesHeader nav ul li a {
    text-decoration: none;
    color: white;
}

.bannerCapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.bannerEsc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    min-height: 750px;
    margin-top: -30px;
}

.titlePage {
    font-family: 'Cookie', cursive;
    font-size: 172px;
    color: white;
    text-align: center;
}

.subtitleH4 {
    font-family: "Proxima-N-W01-Reg";
    font-weight: 300;
    color: white;
    font-size: 25px;
    text-align: center;
    letter-spacing: 8px;
}

.divSVG {
    text-align: center;
}

.SVGCapa {
    max-width: 130px;
    margin-top: 20px;
    margin-left: 120px;
}

.comAfeto {
    background-color: rgba(231,133,133);
    background-image: url(https://static.wixstatic.com/media/21ff2961e4d94522b96543b873b063dc.png/v1/crop/x_0,y_0,w_121,h_107,q_85/21ff2961e4d94522b96543b873b063dc.webp&quot);
    min-height: 465px;
    min-width: 750px;
}

.sobreBrig {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 465px;
    min-width: 750px;
    width: 100%;
}

.escrita {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 455px;
    min-width: 750px;
    width: 99.1vw;
}

.chocolate {
    align-items: center;
    text-align: center;
    width: 45%;
    padding-left: 20%;
    color: white;
    font-family: "Proxima-N-W01-Reg";
    font-weight: 300;
    font-size: 28px;
}

.chocParagrafos {
    width: 50%;
}

.chocP1,.chocP2 {
    font-family: "Helvetica-W01-Roman"; 
    font-size: 15px;
    max-width: 550px;
    color: white;
    line-height: 1.4em;
}

.chocP1, .qmFazP1 {
    margin-bottom: 15px;
}

.chocP2, .qmFazP2 {
    margin-top: 15px;
}

.nossosSabores {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 660px;
    width: 100%;
}

.sabores {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    min-height: 660px;
}

.photoBrig {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brig2 {
    margin: 0 80px;
}

.saboresTitle {
    font-family: "Proxima-N-W01-Reg";
    font-size: 28px;
    font-weight: bold;
}

.sabores .SVGCapa {
    margin-left: 42%;
}

.saboresP {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 550px;
    text-align: center;
}

.saboresPP {
    min-width: 250px;
    max-width: 800px;
}


.qmFaz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(112,186,190); 
    background-image: url(https://static.wixstatic.com/media/3978993e99184d5e8c21f0204cd07bca.png/v1/crop/x_0,y_0,w_150,h_150,q_85/3978993e99184d5e8c21f0204cd07bca.webp);
    width: 99.1vw;
    min-height: 650px;
}

.conheca {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99.1vw;
}

.conheca2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0 250px;
}

.qmFazP1 p, .qmFazP2 p{
    font-family: "Helvetica-W01-Roman"; 
    font-size: 15px;
    color: white;
    line-height: 1.4em;
    max-width: 500px;
}

.conhecaTitle {
    align-items: center;
    text-align: center;
    color: white;
    font-family: "Proxima-N-W01-Reg";
    font-weight: 300;
    font-size: 28px;
}


.imgs {
    background-color: rgb(54,46,38);
}

.imgsBrigs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 33.34%;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(54,46,38);
    color: white;
}

nav a svg {
    width: 20px;
}

.firstFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 390px;
}

.spacesFooter {
    display: flex;
    flex-direction: column;
}

.colsFooter {
    display: flex;
    justify-content: center;
    height: 100%;
}

.ulSocial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 150px;
}

.social ul li {
    list-style: none;
}

.row1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 50px;
}

.col p {
    margin-top: 35px;
    margin-bottom: 35px;
}

.row2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}


#mensagem, #name, #email, #tel {
    background-color: rgb(99, 77, 61);
    border: 1px solid rgb(99, 77, 61);
    padding: 10px;
    margin-top: 8px;
    width: 500px;
    font-size: 12px;
    color: white;
}

#mensagem:hover, #name:hover, #email:hover, #tel:hover {
    border: 1px solid white;
    color: white;
}
    
#mensagem::-webkit-input-placeholder, #name::-webkit-input-placeholder, #email::-webkit-input-placeholder, #tel::-webkit-input-placeholder{
    font-family: "Helvetica-W01-Roman";
    font-size: 15px;
    color: white;
    background-color: rgb(99, 77, 61);
    font-style: bold;
}

#mensagem:hover::-webkit-input-placeholder, #name:hover::-webkit-input-placeholder, #email:hover::-webkit-input-placeholder, #tel:hover::-webkit-input-placeholder {
    color: white;
    background-color: rgb(99, 77, 61);
    font-style: bold;
}

button a{
    text-decoration: none;
    color: white;
}

button {
    font-size: 15px;
    width: 90px;
    height: 40px;
    background:  linear-gradient(180deg, rgba(179, 140, 112, .5) 50%, rgba(112, 86, 69, 0.5) 50%);
}

.lastLine {
    margin-left: 410px;
    margin-top: 5px;
}

button:hover {
    width: 90px;
    height: 40px;
    background:  linear-gradient(180deg, rgba(179, 140, 112, .8) 50%, rgba(112, 86, 69, 0.8) 50%);
}

 .secondFooter {
    border-top: 1px solid rgba(179, 140, 112, 1);
    height: 110px;
 }

 .spacesSecondFooter {
    margin-top: 15px;
    text-align: center;
    color: white;
 }

 .col h4 {
    font-family: "Proxima-N-W01-Reg";
    font-size: 28px;
    font-weight: 400;
 }

 .col p {
    font-family: "Helvetica-W01-Roman";
    font-size: 15px;
 }

 .aSocial{
    padding-left: 20px;
 }

.navButtons ul li a {
    font-family: "Helvetica-W01-Roman";
    font-size: 15px;
}

.navButtons ul li a:hover {
    font-family: "Helvetica-W01-Roman";
    font-size: 15px;
    color: white;
}

form {
    margin-top: 50px;
    font-family: "Helvetica-W01-Roman";
}