/* font-family: 'Cookie', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'McLaren', cursive; */

@import url('https://fonts.googleapis.com/css2?family=McLaren&family=Roboto&display=swap');

@font-face { 
    font-family: "Proxima-N-W01-Reg"; 
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix") format("eot"), 
    url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/64017d81-9430-4cba-8219-8f5cc28b923e.woff2") format("woff2"), 
    url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/e56ecb6d-da41-4bd9-982d-2d295bec9ab0.woff") format("woff"), 
    url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/2aff4f81-3e97-4a83-9e6c-45e33c024796.ttf") format("truetype"), 
    url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/ab9cd062-380f-4b53-b1a7-c0bec7402235.svg#ab9cd062-380f-4b53-b1a7-c0bec7402235") format("svg"); 
    font-display: block; 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'McLaren', cursive; 
}

body{
    background-image: url(assets/images/subway.png);
    background-size: 50%;
    max-height: 300px;
}

main{
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    width: 100%;
}

.qtdFrases {
    margin-top: 15px;
    width: 120px;;
    text-align: center;
    height: 36px;
    border-radius: 10px;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.submitButton{
    padding: 0.2vw 1vw;
    border-radius: 10px;
    background-color: rgb(232, 120, 45);
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.submitButton:hover {
    padding: 0.2vw 1vw;
    border-radius: 10px;
    background-color: rgb(232, 45, 45);
}

.header {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 1vw;
    border-radius: 30px;
    border-color: black;
    border-style: dashed;
}

.blackboard {
    position: absolute;
    top: 450px;
    left: 180px;
    bottom: 0;
    width: 1500px;
    height: auto;
    background-image: url(assets/images/blackboard.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.punish {
    padding-left: 45px;
    padding-top: 25px;
    padding-bottom: 13px;
    padding-right: 120px;
    width: 100%;
    height: 100%;
}

.frases {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    column-gap: 80px;
    font-size: 24px;
    line-height: 40px;
    color: antiquewhite;
}

#counter {
    position: absolute;
    top: 395px;
    left: 200px;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 8px;
    border-radius: 10px;
    border-color: black;
    border-style: dashed;
    font-size: 20px;
    font-weight: 600;
}