/* font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
 */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerHeader, .firstFooter {
    background-color: rgb(0,7,105);
    color: white;
    height: 128px;
}

.menuHeaderCenter ul li a {
    text-decoration:  none;
    color: white;
}

.left ul li a svg {
    width: 50px;
    height: 80px;
}

.right ul li a svg {
    width: 20px;
    height: 20px;
}

.containerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.left {
    display: flex;
    width: 50%;
    margin-left: 5vw;
    max-width: 960px;
    min-width: 200px;
    align-items: center;

}

.right {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-right: 5vw;
    margin-left: 960px;
    max-width: 960px;
    min-width: 200px;
    align-items: center;

}

.right a {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.rightMenus {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.menuHeaderCenter {
    margin-right: 60px;
}

.menuHeaderCenter ul,  .menuHeaderSocial ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    list-style: none;
    width: 100%;
}

.menuHeaderCenter ul li {
    display: inline-block;
    margin-left: 50px;
}

.menuHeaderSocial ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.menuHeaderSocial ul li a svg, .menuFooterSocial ul li a svg{
    width: 15px;
    height: 15px;
}


.sizesTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoSVG svg{
    width: 33px;
}

.sizesTitle {
    margin-top: 5px;
    margin-left: 6px;
}

.siteTitle h1 a{
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    font-weight: 500;
    margin-left: 15px;
    text-decoration: none;
    color: white;
}

.bannerPrinc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bannerVideo  video{
    width: 85%;
    opacity: 1;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 7.5vw;
}

.boxTextBannerPrinc {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.bannerTitle {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 3.75vw;
}

.bannerSubtitle {
    margin-top: 2vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 1.042vw;
}

.spanButton {   
    text-align: center;
    margin-top: 2vw;
}

.buttons {
    background-color: rgb(252,152,35);
    border: none;
    margin-top: 1.5vw;
    width: 8vw;
    height: 3vw;
}

.buttons a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-size: 0.781vw;
}

.bannersCat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.spacesBanners {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bannerCat01, .bannerCat02, .bannerCat03 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.458vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://static.wixstatic.com/media/ea71bb_05a6a57da574403ca693f002a922b506~mv2_d_2326_2437_s_2.jpg/v1/fill/w_560,h_520,al_c,q_80,usm_0.66_1.00_0.01/ea71bb_05a6a57da574403ca693f002a922b506~mv2_d_2326_2437_s_2.webp);
    background-size: contain;
    background-repeat: no-repeat;
    width: 645px;
    height: 450px;
    margin-left: 7.5vw;
}

.bannerCat01 span a, .bannerCat02 span a, .bannerCat03 span a {
    color: white;
    text-decoration: none;
}

.bannerCat02 {
    background-image: url(https://static.wixstatic.com/media/ea71bb_e1843477b4274f7e983d6f512d664740~mv2_d_2109_1935_s_2.jpg/v1/fill/w_562,h_520,al_c,q_80,usm_0.66_1.00_0.01/ea71bb_e1843477b4274f7e983d6f512d664740~mv2_d_2109_1935_s_2.webp);
    margin-left: 1.5vw;
}

.bannerCat03 {
    align-items: center;
    background-image: url(https://static.wixstatic.com/media/ea71bb_929ed199846f4702869772fba5674a55~mv2_d_2807_2985_s_4_2.jpg/v1/fill/w_562,h_520,al_c,q_80,usm_0.66_1.00_0.01/ea71bb_929ed199846f4702869772fba5674a55~mv2_d_2807_2985_s_4_2.webp);
    margin-left: 1.5vw;
    margin-right: 6vw;
}

.about  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 550px;
}

.spacesBoxInside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.spacesBoxInside .spanButton {
    margin-bottom: 20px ;
}

.aboutTitle {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: rgb(252,152,35);
    padding-top: 0;
    padding-bottom: 50px;
}

.aboutP1 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: rgb(0,7,105);
    margin-bottom: 30px;
}

.aboutP2 {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: rgb(0,7,105);
    margin-top: 10px;
    line-height: 2;
}

.containerFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.firstFooter {
    width: 100%;
    height: 200px;
}

.sizeFirstFooter {
    display: flex;
    justify-content: space-around;

}

.footerCol1, .footerCol2, .footerCol3 {
    display: flex;
    flex-direction: column;
    min-width: 500px;
}

.footerCol1 {
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
}

.footerCol2 {
    justify-content: center;
    text-align: center;
    line-height: 2.2;
    margin-top: 40px;
}

.footerCol3 {
    justify-content: flex-start;
    text-align: center;
    line-height: 2.2;
    margin-top: 40px;
}


.menuFooterSocial ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.menuFooterSocial {
    margin-top: 50px;
}

.spacesFooterCol01 {
    max-width: 80px;
}

.spacesFooterCol03 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 200px;
}

.secondFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 0.781vw;
    color: rgb(0,7,105);;
}

button:hover{
    background-color: rgba(64, 73, 206, 0.4);
}

button:hover a{
    background-color: none;
    color: white;
}

button a:hover{
    color: white;
}