* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merienda', cursive;
}

:root {
    /* clamp(min, ideal, max) */
    --font-xxl: clamp(2rem, 8vw + 0.1rem, 3rem);
    --font-xl: clamp(1.5rem, 6vw + 0.1rem, 2.5rem);
    --font-l: clamp(1rem, 5vw + 0.1rem, 1.75rem);
    --font-mdl: clamp(.75rem, 4vw + 0.1rem, 1.25rem);
    --font-md: clamp(.5rem, 3.5vw + 0.1rem, .85rem);
} 

section {
    min-height: 100vh;
}

h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
    font-size: var(--font-xxl);
}

h2 {
    display: flex;
    text-decoration: double underline 1px rgba(180, 19, 19, 0.671);
    text-align: center;
    justify-content: flex-start;

    font-size: var(--font-xl);
}

h3 {
    display: flex;
    text-decoration: double underline 1px rgba(180, 19, 19, 0.671);
    margin-left: 3rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: var(--font-l);
}

h4 {
    display: flex;
    text-decoration: solid underline 1px rgba(180, 19, 19, 0.671);
    margin-left: 3rem;
    margin-bottom: .125rem;
    margin-top: .5rem;
    font-size: var(--font-ml);
}

p {
    font-size: var(--font-md);
}

.curso-extra {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 12vw;
    padding-right: 12vw;
}

.descrip-cursos {
    padding-right: 15vw;
}

.all-studies, .experiences {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 12vw;
    padding-right: 12vw;
}

.course-desc {
    margin-left: 3rem;
}

.study {
    display:flex ;
    justify-content: space-between;
    flex-shrink: 0;
    border-bottom-style: dashed;
    border-bottom-width: .10rem;
    border-bottom-color: rgba(0, 0, 0, 0.3);
}

.dates-acad {
    margin-top: 2.5rem;
    margin-right: 2.5rem;
    text-align: right;
}

.emp, .sobre {
    border-bottom-style: dashed;
    border-bottom-width: .10rem;
    border-bottom-color: rgba(0, 0, 0, 0.3);
}

.sobre > .descrip {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 12vw;
    padding-right: 12vw;
}

.objetivo > li {
    justify-content: center;
    margin-left: -12vw;
}

.work {
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
    flex-direction: row;
    /* border-bottom-style: dashed;
    border-bottom-width: .10rem; */
}

.resumo > li, .emp > .descrip > ul > li {
    padding-right: 14vw;
}

.dates {
    margin-top: -1rem;
    margin-bottom: 0.5rem;
    margin-right: 2.5rem;
    text-align: right;
}

.months {
    text-decoration: solid underline 1px rgba(180, 19, 19, 0.671);
}

.position {
    margin-bottom: .5rem;
}

main .impar{
    display: flex;
    background-image: linear-gradient(145deg, rgba(14, 15, 73, 0.494) 15%, rgba(14, 15, 73, 0.296) 50%, rgba(14, 15, 73, 0.207) 80%);flex-direction: column;
    justify-content: center;
    scroll-margin-top: 25px;
}

main{
    background-image: linear-gradient(145deg, rgba(228, 228, 228, 0.481) 15%, rgba(228, 228, 228, 0.337) 50%, rgba(228, 228, 228, 0.207) 80%);
}

main .par{
    display: flex;
    background-image: linear-gradient(145deg, rgba(32, 33, 67, 0.494) 15%, rgba(33, 34, 70, 0.296) 50%, rgba(31, 32, 72, 0.207) 80%);
    flex-direction: column;
    justify-content: center;
    scroll-margin-top: 25px;
}

.photo {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: calc(100vw - 85%);
}

.photo-eu {
    display: flex;
    max-width: 50%;
    border-radius: 100%;
    border-style: solid;
    border-width: .3rem;
    border-color: rgba(184, 145, 37, 0.75);
    box-shadow: 0 0 5rem 1rem rgba(184, 144, 37, 0.4);
    margin-top: 20vh;
}

.header-formations, .header-status-address {
    display: flex;
    text-align: center;
    justify-content: center;
}

.catchphrase {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 10vh;
}

.title {
    margin-bottom: 3rem;
}

.celphone, .email, .github, .linkedin {
    display: flex;
    flex-shrink: 0;
}

.header-social {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.sectiontitle {
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-margin-top: 30px;
}

svg {
    margin-top: .35rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    /* padding-right: 15vw; */
    justify-content: left;
}

li::before {
    display: flex;
    content: "\2756";
    padding-right: .15vw;
    padding-left: 15vw;
    color: rgba(180, 19, 19, 0.671);
    flex-shrink: 0;
    justify-content: center;
    align-self: flex-start;
}

ul > li{
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.prog > h3, .soft > h3, .idioma > h3 {
    justify-content: center;
    text-align: center;
    margin-left: -0.1rem;
}

.skills {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.prog, .soft, .idioma {
    text-align: center;
}

.exp-extra {
    display: flex;
    justify-content: space-between;
}

.dates-extra {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    margin-top: -1rem;
    margin-right: 2.5rem;
    text-align: right;
}

.position-extra {
    display: flex;
    margin-bottom: 1rem;
    flex-shrink: 1;
}

.exp-extra {
    margin-bottom: 0;
}

.botao {
    border-color: rgba(238, 156, 34, 0.877);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-style: solid;
    border-left-width: 2px;
    margin: 0px;
    padding-left: .7vw;
    padding-right: .7vw;
    background-image: linear-gradient(145deg, rgba(24, 21, 191, 0.508) 10%, rgba(47, 142, 230, 0.624) 96%);
    text-decoration: none;
}

.botao-final {
    border-color: rgba(238, 156, 34, 0.877);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-right-style: solid;
    border-right-width: 2px;
    border-left-style: solid;
    border-left-width: 2px;
    margin: 0px;
    padding-left: .7vw;
    padding-right: .7vw;
    background-image: linear-gradient(145deg, rgba(24, 21, 191, 0.508) 10%, rgba(47, 142, 230, 0.624) 96%);
    text-decoration: none;
}

header {
    margin-top: -0.5vw;
    position: fixed;
    left: calc(100vw - 80%);
}

nav ul li::before {
    display: flex;
    content: none;
    padding-right: .15vw;
    padding-left: 15vw;
    color: rgba(180, 19, 19, 0.671);
    flex-shrink: 0;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.426);
}

nav ul li a:link {
    color: rgb(255, 162, 23);
}

nav ul li a[href]:hover {
    color: rgb(255, 230, 167);
}

nav ul li a[href]:visited {
    color: rgb(255, 70, 70);
}

nav ul li a[href]:focus {
    color: rgb(255, 209, 124);
}

nav ul li a[href]:active {
    color: rgb(225, 177, 115);
}
