* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

:root {
    /* clamp(min, ideal, max) */
    --font-xxl: clamp(3rem, 10vw + 0.1rem, 4rem);
    --font-xl: clamp(2rem, 8vw + 0.1rem, 3rem);
    --font-l: clamp(1rem, 6vw + 0.1rem, 2rem);
    --font-mdl: clamp(.75rem, 5vw + 0.1rem, 1.5rem);
    --font-md: clamp(.5rem, 4vw + 0.1rem, 1rem);
} 

#objetivo, #resumo, #formacao, #experiencia, #habilidades, #cursos {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 2;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center; 
}

.container h1 {
    font-family: 'Glory', sans-serif;
    font-size: var(--font-xxl);
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 2rem 0;
}

.container h2 {
    font-family: 'Glory', sans-serif;
    font-size: var(--font-xl);
    display: flex;
    text-decoration: double underline 1px rgba(180, 19, 19, 0.671);
    text-align: center;
    justify-content: center;
    margin: 2rem 0;
}

.container h3 {
    font-family: 'Glory', sans-serif;
    font-size: var(--font-l);
    display: flex;
    text-decoration: double underline 1px rgba(180, 19, 19, 0.671);
    margin-left: 3rem;
    margin-bottom: 1rem;
}

.container h4{
    font-family: 'Glory', sans-serif;
    font-size: var(--font-mdl);
    display: flex;
    text-decoration: solid underline 1px rgba(180, 19, 19, 0.671);
    margin-left: 3rem;
    margin-bottom: .125rem;
    margin-top: .5rem;
}

.container p {
    font-size: var(--font-md);
}

.all-studies, .experiences {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.course-desc {
    margin-left: 3rem;
}

.study {
    display:flex ;
    justify-content: space-between;
    flex-shrink: 0;
    margin-bottom: 2rem;
    border-bottom-style: dashed;
    border-bottom-width: .10rem;
    border-bottom-color: rgba(0, 0, 0, 0.3);
}

.dates-acad {
    margin-top: 2.5rem;
    margin-right: 2.5rem;
    text-align: right;
}

.work {
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
    flex-direction: row;
}

.dates {
    margin-top: -1rem;
    margin-bottom: 0.5rem;
    margin-right: 2.5rem;
    text-align: right;
}

.months {
    text-decoration: solid underline 1px rgba(180, 19, 19, 0.671);
}

.position {
    margin-bottom: .5rem;
}

header {
    display: flex;
    width: 100%;
    min-height: 100vh;
    border-bottom-color: rgba(180, 19, 19, 0.671);
    border-bottom-width: .1rem;
    border-bottom-style: dashed;
    background-image: linear-gradient(145deg, rgba(255, 0, 0, .2) 30%, rgba(252, 217, 102, 0.5) 96%);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main {
    background-image: linear-gradient(145deg, rgba(255, 87, 87, 0.2) 10%, rgba(255, 204, 145, 0.35) 40%, rgba(250, 237, 195, 0.5) 96%);
    margin-bottom: 10rem;
}

.photo {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 13rem;
}

.header-formations, .header-status-address {
    display: flex;
    text-align: center;
    justify-content: center;
}

.catchphrase {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.photo-eu {
    display: flex;
    max-width: 50%;
    border-radius: 100%;
    border-style: dashed;
    border-width: .3rem;
    border-color: rgba(184, 145, 37, 0.75);
    box-shadow: 0 0 5rem 1rem rgba(184, 144, 37, 0.4);
    margin-top: 3rem;
}

.celphone, .email, .github, .linkedin {
    display: flex;
    flex-shrink: 0;
}

.header-social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectiontitle {
    display: flex;
    margin-top: 2rem;
    margin-bottom: .5rem;
    justify-content: center;
    align-items: center;
}

svg {
    margin-top: 0.30rem;
}

.alinhamento {
    max-width: 70%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    padding-right: 4rem;
    justify-content: center;
    align-items: center;
}

li::before {
    display: flex;
    content: "\2756";
    padding-right: .5rem;
    padding-left: 4rem;
    color: rgba(180, 19, 19, 0.671);
    flex-shrink: 0;
    justify-content: left;
    align-self: flex-start;
}

.descrip {
    display: flex;
    justify-content: center;
    max-width: 60vw;
}

.descrip > ul {
    max-width: 35vw;
}

ul > li{
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.prog > h3, .soft > h3, .idioma > h3 {
    justify-content: center;
    text-align: center;
    margin-left: -0.1rem;
}

.skills {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.prog, .soft, .idioma {
    text-align: center;
}

.exp-extra {
    display: flex;
    justify-content: space-between;
}

.dates-extra {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    margin-top: -1rem;
    margin-right: 2.5rem;
    text-align: right;
}

.position-extra {
    display: flex;
    margin-bottom: 1rem;
    flex-shrink: 1;
}

.exp-extra {
    margin-bottom: 0;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
}

.bots{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#objetivo, #resumo, #formacao, #experiencia, #habilidades, #cursos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bot {
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
    align-self: center;
}

button {
    border-style: solid;
    border-width: 1px;
    padding: .3rem;
    border-radius: 20%;
    background-color: rgb(255, 255, 255);
}

button:hover {
    background-color: rgba(182, 182, 182, 0.25);
}

button > a:link {
    color: tomato;
}

button > a[href]:hover {
    color: red;
}

button > a[href]:visited {
    color: rgb(133, 1, 1);
}

button > a[href]:focus {
    color: orange;
}

button > a[href]:active {
    color: rgb(112, 148, 40);
}
