/* font-family: 'Cookie', cursive;
font-family: 'McLaren', cursive; */

@import url('https://fonts.googleapis.com/css2?family=McLaren&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'McLaren', cursive;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
    background-image: url(/Pages/03-javascript/06-calculator/assets/images/images.jfif);
}

.titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    min-width: 350px;
    min-height: 100px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 2vw;
    background-color: antiquewhite;
    border-radius: 30px;
    border-color: aquamarine;
    border-style: double;
    border-width: 4px;
    margin-top: 2vw;
    max-width: 600px;
    padding-bottom: 20px;
}

.instructions {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 550px;
}

.operators {
    padding-top: 20px;
}

.container {
    background-color: rgb(30, 151, 131);
    margin-top: 30px;
    border-radius: 50px;
    width: 100%;
    height: 450px;
    max-width: 300px;
    min-width: 400px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2vw;
}

input {
    border-radius: 10px;
    height: 35px;
}

.btns{
    padding-top: 50px;
}

.sum, .subtraction, .multiplication, .division {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
}

.tagResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 35px;
}

.tagResults p:first-child {
    font-size: 25px;
}

.tagResults p:last-child {
    font-size: 35px;
}