* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-left: 10em;
    margin-right: 10em;
    background-color: lightgoldenrodyellow;
}

#voltar {
    text-align: left;
    margin-top: 3.5rem;
    margin-left: 0rem;
    padding: 0.1em 0.5em;
}

button {
    border: none;
    background-color: lightgoldenrodyellow;
}

.botao {
    background-color: #5acf5d;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    font-family: cursive;
    font-weight: bolder;
    display: inline-block;
    font-size: 20px;
    border-radius: 50%;
}

.botao:hover {
    background-color: #439b46;
    color: rgb(212, 240, 205);
}

ol, ul{
    margin-left: 2rem;
}

.indice02 > li {
    padding-left: 1.5rem;
    background-image: url(https://uploaddeimagens.com.br/images/003/504/425/full/1_channel-point-28x28.png?1635214641);
    background-position: left;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    list-style-type: none;
}

ul > li {
    padding-left: 1.5rem;
    background-image: url(https://uploaddeimagens.com.br/images/003/504/430/original/deagle-proj.png?1635214733);
    background-position: left;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    list-style-type: none;
}

li {
    margin: .2rem 0;
}

li > a:link { 
    /* background-color: rgba(255, 255, 224, 0.5); */
    color:rgb(177, 136, 59);
}

li > a[href]:hover {
    /* background-color: rgba(255, 255, 224, 0.8); */
    color:rgb(151, 78, 17);
}

li > a[href]:visited {
    /* background-color: rgba(255, 255, 224, 0.8); */
    color: rgb(207, 180, 140);
}

 li > a[href]:focus { 
    /* background-color: rgba(255, 255, 224, 0.8); */
     color: rgb(15, 99, 26);
}

li > a[href]:active {
    /* background-color: rgba(255, 255, 224, 0.8); */
    color: rgb(91, 150, 98);
}

.introducao > p {
    margin: 0.6em;
}

.counter-strike {
    text-decoration: underline rgba(128, 0, 0, 0.8);
    font-weight: bolder;
}

h1 {
    font-family: cursive;
    font-weight: bolder;
    font-size: 38px;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    border-bottom-style: double;
    border-bottom-color: coral;
    border-bottom-width: 0.5em;
    border-bottom-left-radius: 5em;
    border-bottom-right-radius: 5em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-image: linear-gradient(145deg, rgba(255, 0, 0, .2) 30%, rgba(252, 217, 102, 0.5) 96%);
    /* background-color: rgba(252, 217, 102, 0.5); */
}

/* .introducao > p, .introducao > h2{
    background-color: rgba(252, 217, 102, 0.616);
} */

.indice {
    background-color: rgba(238, 162, 162, 0.2);
    display: inline-block;
    max-width: 20em;
    min-height: 21em;
    padding: 25px;
    margin-top: 0px;
    margin-left: 1em;
    margin-bottom: 3em;
    overflow: visible;
    border-bottom: 1em double rgba(128, 0, 0, 0.8);
    border-left-style: solid;
    border-left-width: 0.5px;
    border-left-color: rgba(196, 0, 0, 0.288);
    border-top-style: dotted;
    border-top-width: .5px;
    border-top-color: rgba(196, 0, 0, 0.2);
    border-right-style: groove;
    border-right-width: .5px;
    border-right-color: rgba(196, 0, 0, 0.2);
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 5em;
    border-bottom-left-radius: 5em;
}

.indice > h2 {
    background-image: linear-gradient(145deg, rgba(255, 0, 0, .2) 30%, rgba(252, 217, 102, 0.5) 96%);
    text-align: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 1.5px;
    border-radius: 5em;
    border-color: rgba(128, 0, 0, 0.8);
    border-style: dotted;
    border-width: 0.5px;
    max-width: 6em;
    min-height: 1.3em;
    margin-bottom: 10px;
}

.introducao {
    background-color: rgba(238, 162, 162, 0.2);
    display: inline-block;
    max-width: 73em;
    min-height: 21em;
    margin-top: 0;
    margin-left: 2.5em;
    padding: 25px;
    overflow: visible;
    border-bottom: 1em double rgba(128, 0, 0, 0.8);
    border-left-style: solid;
    border-left-width: 0.5px;
    border-left-color: rgba(196, 0, 0, 0.288);
    border-top-style: dotted;
    border-top-width: .5px;
    border-top-color: rgba(196, 0, 0, 0.2);
    border-right-style: groove;
    border-right-width: .5px;
    border-right-color: rgba(196, 0, 0, 0.2);
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 5em;
    border-bottom-left-radius: 5em;
}

.jogabilidade, .desenv, .exito, .brasil, .cultura, .proibicao {
    margin-top: 0;
    margin-bottom: 3rem;
    padding: 25px;
    background-color: rgba(238, 162, 162, 0.2);
    overflow: visible;
    min-height: 10em;
    border-bottom: 1em double rgba(128, 0, 0, 0.8);
    border-bottom-left-radius: 5em;
    border-bottom-right-radius: 2em;
    border-right: 0.2em double rgba(128, 0, 0, 0.8);
    border-top: 1em double rgba(128, 0, 0, 0.8);
    border-top-right-radius: 5em;
    border-top-left-radius: 2em;
    border-left: 0.2em double rgba(128, 0, 0, 0.8);
}

.jogabilidade > h2, .introducao > h2, .desenv > h2, .exito > h2, .brasil > h2, .cultura > h2, .proibicao > h2 {
    background-image: linear-gradient(145deg, rgba(255, 0, 0, .2) 30%, rgba(252, 217, 102, 0.5) 96%);
    text-align: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 1.5px;
    border-radius: 5em;
    border-color: rgba(128, 0, 0, 0.8);
    border-style: dotted;
    border-width: 0.5px;
    max-width: 10em;
    min-height: 1.3em;
    margin-bottom: 1.5em;
}

.jogabilidade > h3, .desenv > h3, .cultura > h3 {
    background-image: linear-gradient(145deg, rgba(50, 202, 139, 0.2) 30%, rgba(51, 102, 122, 0.5) 96%);
    text-align: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 1.5px;
    border-radius: 5em;
    border-color: rgba(128, 0, 0, 0.8);
    border-style: dotted;
    border-width: 0.5px;
    max-width: 15em;
    width: auto;
    min-height: 1.3em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.jogabilidade > p, .desenv > p {
    margin: 0.6em;
}

.armas-col01 {
    display: inline-block;
    align-items: center;
    text-align: left;
    margin: 0 0 0 22%;
}

.armas-col02 {
    display: inline-block;
    align-items: center;
    text-align: left;
    margin: 0 12% 0 12%;
}

.armas-col01 > h4 {
    padding: 1.5em 0 0.5em 0;
}

.armas-col02 > h4 {
    padding: 3em 0 1em 0;
}

.desenv {
    margin-top: 0;
    /* margin-bottom: 5rem; */
    padding: 25px;
    background-color: rgba(238, 162, 162, 0.2);
    overflow: visible;
    min-height: 21em;
    border-bottom: 1em double rgba(128, 0, 0, 0.8);
    border-bottom-left-radius: 5em;
    border-bottom-right-radius: 2em;
    border-right: 0.2em double rgba(128, 0, 0, 0.8);
    border-top: 1em double rgba(128, 0, 0, 0.8);
    border-top-right-radius: 5em;
    border-top-left-radius: 2em;
    border-left: 0.2em double rgba(128, 0, 0, 0.8);
}



.jogabilidade > p {
    margin: 0.6em;
}